body {
	height: 2000px;
}
/* box style */
.box {
	width: 200px;
	height: 60px;
	padding: 10px;
	color: white;
	margin: 20px;
}

/* 1. static (default) */

.static {
	background-color: gray;
	position: static;
}

/* 2. Relative */
.relative {
	background-color: blue;
	position: relative;
	left: 50px;
	top: 20px;
}
/* 3. absolut */
.absolute {
	background-color: red;
position: absolute;
	top: 300px;
	left: 10px;
}
/* 4. fixed */
.fixed {
	background-color: green;
	position: fixed;
	bottom: 10px;
	right: 10px;
}
